<!DOCTYPE html>
<html>
    <head>
        <title>About html page</title>
        <link rel="shortcut icon" href="#">
        <link rel="stylesheet" href="/css/style.css">
        <script src="/js/sample.js"></script>
    </head>

    <body>
        <h1>
            {{title}}
        </h1>
        <img src="\img\robot.jpg">
        <h6> Created by {{name}}</h6>
    </body>
</html>