<!DOCTYPE html>
<html>
    <head>
    </head>

    <body>
        <h1> 
            Hi I am from Dynamic html file
        </h1>
        <h3>
            {{name}} -- {{frontend}} -- {{backend}}
        </h3>
    </body>

</html>