<!DOCTYPE html>
<html>

<head>
    <title>¯\_(ツ)_/¯ Hari</title>
    <link rel="stylesheet" href="/css/style.css">
    <!--Commenting script because its run early-->
    <!--<script src="/js/sample.js"></script>-->

    <!--Importing google font api-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tourney:wght@200&display=swap" rel="stylesheet">
</head>

<body>
    <!--Importing partial code-->
    {{>header}}
    <!--Importing partial code with handle bars-->
    <h1>
        Hi, This is pure express.js single page web application with not only single line written on front-end.
    </h1>

    <!--node.js code input tag-->
    <div class="left">
        <textarea class="node" name="Text1" cols="40" rows="5"></textarea>
    </div>
    <div class="right">
        <textarea class="console" name="Text1" cols="40" rows="5"></textarea>
    </div>
    <!--node.js code input tag-->

    <!--For Wheather Api only-->
    <!--<br><br>
    <p>Use Below search bar to search wheather</p>

    <form>
        <input placeholder="Type your location">
        <button>Search</button>
    </form>

    <p id='jsonMessage'></p>-->

    <!--Importing footer code-->
    {{>footer}}
    <!--Importing footer code with handle bars-->

    <script src="/js/sample.js"></script>
</body>

</html>