<!DOCTYPE html>
<html>

<head>
    <title>¯\_(ツ)_/¯ Hari</title>
    <link rel="stylesheet" href="/css/style.css">

    <!--Importing google font api-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tourney:wght@200&display=swap" rel="stylesheet">
</head>

<body>
    <!--Importing partial code-->
    {{>header}}
    <!--Importing partial code with handle bars-->
    <h1>
        Hi, This is pure express.js single page web application with not only single line written on front-end.
    </h1>
    <h3>
        {{name}} -- {{frontend}} -- {{backend}}
    </h3>

    <!--Importing footer code-->
    {{>footer}}
    <!--Importing footer code with handle bars-->
</body>

</html>