<!--Header code Using partials with handle bar-->
<div class="header">
    <a href="/" class="logo">{{ApplicationName}}</a>
    <div class="header-right">
        <a class="active" href="https://hariomgola.github.io">Portfolio</a>
        <a class="" href="/">Home</a>
        <a href="#contact">Contact</a>
        <a href="/about">About</a>
    </div>
</div>
<!--Header code Using partials with handle bar-->